### Varie ###
src/main/resources/local.properties
target/
/classes/
/out/

### Eclipse ###
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.gradle
.nb-gradle/

### JRebel ###
rebel.xml

### Vaadin ###
node_modules/
drivers/
error-screenshots/
webpack.generated.js
